<table [dataSource]="dataSource" mat-table>
   <ng-container matColumnDef="context">
      <th *matHeaderCellDef mat-header-cell>Context</th>
      <td *matCellDef="let element" mat-cell>{{element.context}}</td>
   </ng-container>
   <ng-container matColumnDef="login">
      <th *matHeaderCellDef mat-header-cell>Login</th>
      <td *matCellDef="let element" mat-cell>{{element.login}}</td>
   </ng-container>
   <ng-container matColumnDef="tsvEnabled">
      <th *matHeaderCellDef mat-header-cell>TSV</th>
      <td *matCellDef="let element" mat-cell>
         <mat-checkbox [checked]="element.tsvEnabled" [disabled]="true"></mat-checkbox>
      </td>
   </ng-container>
   <ng-container matColumnDef="lastUpdate">
      <th *matHeaderCellDef mat-header-cell>Last Update</th>
      <td *matCellDef="let element" mat-cell>{{formatDate(element.lastUpdate)}}</td>
   </ng-container>
   <!--<ng-container matColumnDef="actions">
      <th *matHeaderCellDef mat-header-cell>Actions</th>
      <td *matCellDef="let element" mat-cell>
         <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{credential: element}">
            <mat-icon>more_vert</mat-icon>
         </button>
      </td>
   </ng-container>-->

   <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
   <tr *matRowDef="let row; columns: displayedColumns;" mat-row [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{credential: row}"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<mat-menu #appMenu="matMenu">
   <ng-template matMenuContent let-credential="credential">
      <button mat-menu-item (click)="decryptCredential(credential)">
         <mat-icon>file_copy</mat-icon>
         <span>Copy password</span>
      </button>
      <button mat-menu-item (click)="editCredential(credential)">
         <mat-icon>edit</mat-icon>
         <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteCredential(credential)">
         <mat-icon>delete</mat-icon>
         <span>Delete</span>
      </button>
   </ng-template>
</mat-menu>
