<mat-tab-group backgroundColor="primary" (selectedTabChange)="tabChangeEvent($event)">
   <mat-tab *ngFor="let group of groups">
      <ng-template mat-tab-label>{{group.name}}</ng-template>
      <app-credential-list [credentials]="getCredentials(group.id)"
                           (decryptCredentialEvent)="decryptAndCopyCredential($event)"
                           (editCredentialEvent)="editCredential($event)"
                           (deleteCredentialEvent)="deleteCredential($event)">

      </app-credential-list>
   </mat-tab>
</mat-tab-group>

<button mat-fab color="primary" id="add_button" (click)="addCredential()">
   <mat-icon>add</mat-icon>
</button>
